.body {
  background-color: rgb(205, 224, 241);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  text-align: center;
}

.intro {
  color: rgb(88, 110, 166);
  font-weight: 700;
}

.resize {
  width: 300px;
  height: auto;
  border-radius: 50%;
  opacity: 0.5;
}

.button1 {
  border-radius: 12px;
  padding: 5px 12px;
  margin-top: 10px;
}

.button2 {
  border-radius: 12px;
  padding: 5px 12px;
  margin-top: 20px;
}

.results {
  color: rgb(16, 49, 111);
}